<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{template/mainTemplate :: mainLayout(~{::section[@Class='content']}, ~{::script})}">
	<section class="content">
		<div class="row">
			<div class="col-md-12">
				<div class="card card-primary">
					<form action="/board/register" th:action method="post" id="boardForm" enctype="multipart/form-data" th:object="${board}">
						<div class="card-header">
							<h3 class="card-title">게시판 등록</h3>
							<div class="card-tools"></div>
						</div>

						<div class="card-body">
							<div class="form-group">
								<label for="boardTitle">제목을 입력해주세요</label>
								<input type="text" th:field="*{boardTitle}" class="form-control" placeholder="제목을 입력해주세요">
								<span class="error invalid-feedback" style="display: block;" th:errors="*{boardTitle}"></span>
							</div>

							<div class="form-group">
								<label for="boardContent">내용을 입력해주세요</label>
								<textarea th:field="*{boardContent}" class="form-control" rows="14"></textarea>
								<span class="error invalid-feedback" style="display: block;" th:errors="*{boardContent}"></span>
							</div>

							<div class="form-group">
								<div class="custom-file">
									<label for="boardFile">파일 선택</label>
									<input type="file" class="custom-file-input" id="boardFile" name="boardFile" multiple="multiple">
									<label class="custom-file-label" for="boardFile">파일을 선택해주세요</label>
								</div>
							</div>
						</div>

						<div class="card-footer bg-white">
							<div class="row">
								<div class="col-12">
									<input type="submit" id="insertBtn" value="등록" class="btn btn-primary">
									<input type="button" id="cancelBtn" value="취소" th:onclick="|location.href='@{/board/list}'|" class="btn btn-danger">
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	<script type="text/javascript">
	(function(W, D, $) {
		'use strict';
		W.$Register = W.$Register || {};

		$(document).ready(function() {
			$Register.ui.pageLoad();
		});

		$Register.ui = {
			pageLoad: function() {
				CKEDITOR.replace("boardContent", {
					footnotesPrefix: "a",
					filebrowserUploadUrl: '/attach/upload'
				});
			}
		}
	}(window, document, jQuery))
	</script>
</html>