<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{board/mainTemplate :: mainLayout(~{::section[@class='content-header']}, ~{::section[@class='content']}, ~{::script})}">
	
<section class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
				<h1>공지사항 상세보기</h1>
			</div>
			<div class="col-sm-6">
				<ol class="breadcrumb float-sm-right">
					<li class="breadcrumb-item"><a href="#">EXAMPLE HOME</a></li>
					<li class="breadcrumb-item active">공지사항 상세보기</li>
				</ol>
			</div>
		</div>
	</div>
</section>

<section class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="card card-primary">
					<div class="card-header">
						<h3 class="card-title">[[${board.boardTitle}]]</h3>
						<div class="card-tools">[[${board.boardWriter}]] [[${#temporals.format(board.boardRegisterDate, 'yyyy-MM-dd HH:mm')}]] [[${board.boardHit}]]</div>
					</div>
					
					<form id="quickForm" novalidate="novalidate">
						<div class="card-body">[(${board.boardContent})]</div>
						
						<!--파일-->
						<div class="card-footer bg-white">
							<ul	class="mailbox-attachments d-flex align-items-stretch clearfix">
								<th:block th:if="${board.boardFileList != null and not #lists.isEmpty(board.boardFileList)}">
									<li th:each="file : ${board.boardFileList}">
										<span class="mailbox-attachment-icon">
											<i class="far fa-file-pdf"></i>
										</span>
										<div class="mailbox-attachment-info">
											<a href="#" class="mailbox-attachment-name">
												<i class="fas fa-paperclip"></i> [[${file.originalFileName}]] 
											</a>
											<span class="mailbox-attachment-size clearfix mt-1">
												<span>[[${file.fileFancySize}]]</span>
												
												<a href="/board/attach/download?fileNo=0" th:href="@{/board/attach/download(fileNo = ${file.id})}">
													<span class="btn btn-default btn-sm float-right">
														<i class="fas fa-download"></i>
													</span>
												</a>
											</span>
										</div>
									</li>
								</th:block>
							</ul>
						</div>
						
						<div class="card-footer">
							<button type="button" id="listBtn" th:onclick="|location.href='@{/board/list}'|" class="btn btn-primary">목록</button>
							<th:block th:if="${#strings.equals(board.memberNo, session.loginMember.id)}">
								<button type="button" id="modifyBtn" th:onclick="|location.href='@{/board/edit/{boardNo}(boardNo = ${board.id})}'|" class="btn btn-info">수정</button>
								<button type="button" id="delBtn" class="btn btn-danger">삭제</button>
							</th:block>
						</div>
					</form>
				</div>
			</div>
			
			<form action="/board/delete" method="post" id="boardForm">
				<input type="hidden" name="boardNo" th:value="${board.id}">
			</form>
			<div class="col-md-6"></div>
		</div>
	</div>
</section>
<script type="text/javascript">
(function(W, D, $) {
	'use strict';
	W.$Detail = W.$Detail || {};
	
	$(document).ready(function() {
		$Detail.ui.pageLoad();
	});
	
	$Detail.ui = {
		pageLoad: function() {
			$("#delBtn").on("click", function() {
				if(confirm("정말 삭제하시겠습니까?")) {
					$("#boardForm").submit();
				}
			});
		}
	}
}(window, document, jQuery))
</script>