<!DOCTYPE HTML>
<html th:replace="~{template/loginTemplate :: loginLayout('비밀번호 찾기', ~{::div[@Class='login-box']}, ~{::script})}" xmlns:th="http://www.thymeleaf.org">

<div class="login-box">
	<div class="card card-outline card-primary">
		<div class="card-header text-center">
			<p href="" class="h4">
				<b>비밀번호찾기</b>
			</p>
		</div>

		<div class="card-body">
			<p class="login-box-msg">비밀번호 찾기는 아이디, 이름, 이메일을 입력하여 찾을 수 있습니다.</p>

			<form action="/findPassword" th:action method="post" th:object="${user}">
				<div class="input-group mb-3">
					<label for="username"></label>
					<input type="text" class="form-control" th:field="*{username}" placeholder="아이디를 입력해주세요.">
					<span class="error invalid-feedback" style="display: block;" th:errors="*{username}"></span>
				</div>

				<div class="input-group mb-3">
					<label for="name"></label>
					<input type="text" class="form-control" th:field="*{name}" placeholder="이름을 입력해주세요.">
					<span class="error invalid-feedback" style="display: block;" th:errors="*{name}"></span>
				</div>

				<div class="input-group mb-3">
					<input type="text" class="form-control" th:field="*{email}" placeholder="이메일을 입력해주세요">
					<span class="input-group-append">
						<button type="button" class="btn btn-secondary btn-flat" id="sendVerifyCode">인증번호 전송</button>
					</span>
					<span class="error invalid-feedback" style="display: block;" th:errors="*{email}"></span>
				</div>

				<div class="input-group mb-3" id="verifyBlock" style="display: none;">
					<input type="text" class="form-control" id="code" placeholder="인증번호를 입력해주세요">
					<span class="input-group-append">
						<button type="button" class="btn btn-secondary btn-flat" id="checkVerifyCode">인증</button>
					</span>
				</div>

				<div class="row">
					<div class="col-12">
						<button type="submit" class="btn btn-primary btn-block" id="findPassword">비밀번호 찾기</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	
	<br/>
	
	<div class="card card-outline card-secondary">
		<div class="card-header text-center">
			<h4>MAIN MENU</h4>
			<button type="button" class="btn btn-secondary btn-block" id="loginBtn" th:onclick="|location.href='@{/login}'|">로그인</button>
		</div>
	</div>
</div>

<script type="text/javascript">
	(function(W, D, $) {
		'use strict';
		W.$FindPassword = W.$FindPassword || {};

		let isEmailAuthenticated = false;

		$(document).ready(function() {
			$FindPassword.ui.pageLoad();
		});

		$FindPassword.ui = {
			pageLoad: function() {
				$("#sendVerifyCode").on("click", function() {
					let email = $("#email").val();
					if(!email) {
						alert("이메일을 입력해주세요.");
						return false;
					}

					fetch("/authenticateEmail", {
						method: "post",
						body: new URLSearchParams({"email" : email})
					})
					.then(response => response.text())
					.then(result => {
						alert(result);
						$("#verifyBlock").show();
					});
				});

				$("#checkVerifyCode").on("click", function() {
					let email = $("#email").val();
					let code = $("#code").val();

					if(!email) {
						alert("이메일을 입력해주세요.");
						return false;
					}

					if(!code) {
						alert("인증 코드를 입력해주세요.");
						return false;
					}

					fetch("/verifyCode", {
						method: "post",
						body: new URLSearchParams({"email" : email, "code" : code})
					})
					.then(response => {
						if(response.ok) {
							$("#email").attr("readonly", true);
							$("#code").attr("readonly", true);
							isEmailAuthenticated = true;
						}
						return response.text();
					})
					.then(result => alert(result));
				});

				$("#findPassword").on("click", function() {
					if(!isEmailAuthenticated) {
						alert("이메일을 인증해주세요.");
						return false;
					}

					$("form").submit();
				});
			}
		};
	}(window, document, jQuery));
</script>