<!DOCTYPE HTML>
<html th:replace="~{template/loginTemplate :: loginLayout('회원가입', ~{::div[@Class='register-box']}, ~{::script})}" xmlns:th="http://www.thymeleaf.org">
	<div class="register-box">
		<div class="card card-outline card-primary">
			<div class="card-header text-center">
				<a href="#" class="h1"><b>회원가입</b></a>
			</div>

			<div class="card-body">
				<p class="login-box-msg">회원가입</p>

				<form action="" th:action method="post" id="signupForm" enctype="multipart/form-data" th:object="${user}">

					<div class="input-group mb-3 text-center">
						<img class="profile-user-img img-fluid img-circle" id="profileImg" src="../../static/dist/img/AdminLTELogo.png" th:src="@{/dist/img/AdminLTELogo.png}" alt="User profile picture" style="width: 150px;">
					</div>

					<div class="input-group mb-3">
						<label for="profile">프로필 이미지</label>
					</div>

					<div class="input-group mb-3">
						<div class="custom-file">
							<input type="file" class="custom-file-input" name="profile" id="profile">
							<label class="custom-file-label" for="profile">프로필 이미지를 선택해주세요</label>
						</div>
					</div>

					<div class="input-group mb-3">
						<label for="profile">프로필 정보</label>
					</div>

					<label for="username">아이디</label>
					<div class="input-group mb-3">
						<input type="text" class="form-control" th:field="*{username}" placeholder="아이디를 입력해주세요">
						<span class="input-group-append">
							<button type="button" class="btn btn-secondary btn-flat" id="idDuplicateBtn">중복확인</button>
						</span>
						<span class="error invalid-feedback" style="display: block;" th:errors="*{username}"></span>
					</div>

					<label for="password">비밀번호</label>
					<div class="input-group mb-3">
						<input type="text" class="form-control" th:field="*{password}" placeholder="비밀번호를 입력해주세요">
						<span class="error invalid-feedback" style="display: block;" th:errors="*{password}"></span>
					</div>

					<label for="name">이름</label>
					<div class="input-group mb-3">
						<input type="text" class="form-control" th:field="*{name}" placeholder="이름을 입력해주세요">
						<span class="error invalid-feedback" style="display: block;" th:errors="*{name}"></span>
					</div>

					<div style="font-weight: 700;">성별</div>
					<div class="input-group mb-1">
						<div class="form-group clearfix" style="height: 10px;">
							<div class="icheck-primary d-inline" th:each="type : ${genderTypes}">
								<input type="radio" th:field="*{gender}" th:value="${type.name()}">
								<label th:for="${#ids.prev('gender')}" th:text="${type.description}" style="margin-right: 20px;"></label>
							</div>
						</div>
						<span class="error invalid-feedback" style="display: block;" th:errors="*{gender}"></span>
					</div>

					<label for="email" style="margin-top: 10px;">이메일</label>
					<div class="input-group mb-3">
						<input type="text" class="form-control" th:field="*{email}" placeholder="이메일을 입력해주세요">
						<span class="input-group-append">
							<button type="button" class="btn btn-secondary btn-flat" id="emailDuplicateBtn">중복확인</button>
						</span>
						<span class="error invalid-feedback" style="display: block;" th:errors="*{email}"></span>
					</div>

					<label for="phone">전화번호</label>
					<div class="input-group mb-3">
						<input type="text" class="form-control" th:field="*{phone}" placeholder="전화번호를 입력해주세요">
						<span class="error invalid-feedback" style="display: block;" th:errors="*{phone}"></span>
					</div>

					<label for="postCode">우편번호</label>
					<div class="input-group mb-3">
						<input type="text" class="form-control" th:field="*{postCode}">
						<span class="input-group-append">
							<button type="button" onclick="$Register.event.DaumPostcode()" class="btn btn-secondary btn-flat">우편번호 찾기</button>
						</span>
						<span class="error invalid-feedback" style="display: block;" th:errors="*{postCode}"></span>
					</div>

					<label for="address">주소</label>
					<div class="input-group mb-3">
						<input type="text" class="form-control" th:field="*{address}" placeholder="주소를 입력해주세요">
						<span class="error invalid-feedback" style="display: block;" th:errors="*{address}"></span>
					</div>

					<label for="detailAddress">상세주소</label>
					<div class="input-group mb-3">
						<input type="text" class="form-control" th:field="*{detailAddress}" placeholder="상세주소를 입력해주세요">
					</div>

					<div class="row">
						<div class="col-8" style="display: flex;">
							<input type="checkbox" th:field="*{agree}" style="width: 20px;">
							<label for="agree" style="display: flex; align-items: flex-end; margin-left: 10px;"><a href="#">개인정보방침</a></label>
						</div>
						<div class="col-4">
							<button type="submit" class="btn btn-primary btn-block" id="signupBtn">가입하기</button>
						</div>
					</div>
					<span class="error invalid-feedback" style="display: block;" th:errors="*{agree}"></span>
				</form>
			</div>
		</div>

		<br/>

		<div class="card card-outline card-secondary">
			<div class="card-header text-center">
				<h4>MAIN MENU</h4>
				<button type="button" class="btn btn-secondary btn-block" th:onclick="|location.href='@{/login}'|">뒤로가기</button>
			</div>
		</div>
	</div>

	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script type="text/javascript">
	(function(W, D, $) {
		'use strict';
		W.$Register = W.$Register || {};

		$(document).ready(function() {
			$Register.ui.pageLoad();
		});

		$Register.ui = {
			pageLoad: function() {
				$("#profile").on("change", event => {
					let file = event.target.files[0];

					if($Register.event.isImageFile(file)) {
						let reader = new FileReader();
						reader.onload = function(e) {
							$("#profileImg").attr("src", e.target.result);
						}
						reader.readAsDataURL(file);
					} else {
						alert("이미지 파일을 선택해주세요");
						$("#profile").val("");
					}
				});

				$("#idDuplicateBtn").on("click", function() {
					let id = $("#username").val();

					if(!id) {
						alert("아이디를 입력해주세요");
						return false;
					}

					fetch("/duplicatedId", {
						method: "post",
						body: new URLSearchParams({"username" : id})
					})
					.then(response => response.text())
					.then(result => alert(result));
				});

				$("#emailDuplicateBtn").on("click", function() {
					let email = $("#email").val();

					if(!email) {
						alert("이메일을 입력해주세요");
						return false;
					}

					fetch("/duplicatedEmail", {
						method: "post",
						body: new URLSearchParams({"email" : email})
					})
					.then(response => response.text())
					.then(result => alert(result));
				});
			}
		};

		$Register.event = {
			isImageFile: function(file) {
				let ext = file.name.split(".").pop().toLowerCase();
				return ($.inArray(ext, ["jpg", "jpeg", "gif", "png"]) !== -1);
			},

			DaumPostcode: function() {
				new daum.Postcode({
					oncomplete: function(data) {
						let addr = '';
						let extraAddr = '';

						if(data.userSelectedType === 'R') {
							addr = data.roadAddress;
						} else {
							addr = data.jibunAddress;
						}

						if(data.userSelectedType === 'R') {
							if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
								extraAddr += data.bname;
							}
							if(data.buildingName !== '' && data.apartment === 'Y') {
								extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
							}
							if(extraAddr !== '') {
								extraAddr = ' (' + extraAddr + ')';
							}
						}

						document.getElementById('postCode').value = data.zonecode;
						document.getElementById("address").value = addr;
						document.getElementById("detailAddress").focus();
					}
				}).open();
			}
		};
	}(window, document, jQuery));
	</script>
</html>