<!DOCTYPE HTML>
<html th:replace="~{template/loginTemplate :: loginLayout(~{::div[@Class='login-box']}, ~{::script})}" xmlns:th="http://www.thymeleaf.org">

<div class="login-box">
	<div class="card card-outline card-primary">
		<div class="card-header text-center">
			<p class="h4">
				<b>비밀번호 재설정</b>
			</p>
		</div>
		
		<div class="card-body">
			<p class="login-box-msg">비밀번호를 재설정해주세요.</p>

			<form action="/resetPw" method="post" th:object="${user}">
				<input type="hidden" th:field="*{id}" name="id">

				<div class="input-group mb-3">
					<label for="newPw"></label>
					<input type="text" class="form-control" th:field="*{newPw}" placeholder="비밀번호를 입력해주세요.">
					<span class="error invalid-feedback" style="display: block;" th:errors="*{newPw}"></span>
				</div>

				<div class="input-group mb-3">
					<label for="newPw2"></label>
					<input type="text" class="form-control" th:field="*{newPw2}" placeholder="비밀번호를 확인해주세요.">
					<span class="error invalid-feedback" style="display: block;" th:errors="*{newPw2}"></span>
				</div>
				
				<div class="row">
					<div class="col-12">
						<button type="submit" class="btn btn-primary btn-block" id="changePw">비밀번호 변경</button>
					</div>
				</div>
			</form>
		</div>
	</div>

	<br />

	<div class="card card-outline card-secondary">
		<div class="card-header text-center">
			<h4>MAIN MENU</h4>
			<button type="button" class="btn btn-secondary btn-block" id="loginBtn" th:onclick="|location.href='@{/login}'|">로그인</button>
		</div>
	</div>
</div>

<script type="text/javascript"></script>