<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{template/mainTemplate :: mainLayout(~{::section[@Class='content']}, ~{::script})}">
	<section class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<div class="card-tools">
								<!-- 검색 -->
								<form class="input-group input-group-sm" style="width: 440px;" method="get" id="searchForm" action="/stock/list" th:action th:object="${paginationInfo}">
									<input type="hidden" name="page" id="page">

									<select class="form-control" th:field="*{searchType}">
										<option value="">전체</option>
										<option th:each="type : ${searchType}" th:value="${type}" th:text="${type.getDescription()}"></option>
									</select>

									<input type="text" th:field="*{searchWord}" class="form-control float-right" placeholder="종목명">

									<div class="input-group-append">
										<button type="submit" class="btn btn-default">
											<i class="fas fa-search"></i>검색
										</button>
									</div>
								</form>
								<!-- 검색 -->
							</div>
							<h3 class="card-title">주식 목록</h3>
						</div>
						<div class="card-body">
							<table class="table table-bordered">
								<thead>
								<tr>
									<th>종목명</th>
									<th>종가</th>
									<th>대비</th>
									<th>등락률</th>
									<th>거래량</th>
								</tr>
								</thead>
								<tbody>
									<th:block th:if="${#lists.isEmpty(paginationInfo.dataList)}">
										<td colspan="5">조회하신 주식은 존재하지 않습니다.</td>
									</th:block>
									<th:block th:if="${not #lists.isEmpty(paginationInfo.dataList)}">
										<tr th:each="stock : ${paginationInfo.dataList}" th:with="className = ${stock.vs < 0} ? 'plus' : (${stock.vs > 0} ? 'minus' : 'equal')">
											<td><a th:href="@{/stock/detail(isinCd = ${stock.isinCode})}" th:text="${stock.itemName}" style="color: black;">종목명</a></td>
											<td th:text="${stock.closingPrice}" th:class="${className}">종가</td>
											<td th:text="${stock.vs}" th:class="${className}">대비</td>
											<td th:text="${stock.fluctuationRate} + '%'" th:class="${className}">등락률</td>
											<td th:text="${stock.tradingQuantity}">거래량</td>
										</tr>
									</th:block>
								</tbody>
							</table>
						</div>
						<div class="card-body">
						</div>
						<div class="card-footer clearfix" id="pagingArea" th:utext="${paginationInfo.pagingHTML}">
							<!--페이징-->
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<script type="text/javascript">
		(function(W, D, $) {
			'use strict';
			W.$List = W.$List || {};

			$(document).ready(function() {
				$List.ui.pageLoad();
			});

			$List.ui = {
				pageLoad: function() {
					let form = $('#searchForm');
					let area = $('#pagingArea');

					area.on("click", "a", function(event) {
						event.preventDefault();
						let pageNo = $(event.target).data('page');
						form.find("#page").val(pageNo);
						form.submit();
					});
				}
			}
		}(window, document, jQuery))
	</script>
</html>